const ProductionConfig = {
  apiKey: "xxx",
  authDomain: "xxxx",
  databaseURL: "xxx",
  projectId: "rent-cost-xxxx",
  storageBucket: "xxx",
  messagingSenderId: "xxx",
  appId: "xxx"
};

export default ProductionConfig;
